<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">Car Price Calculator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.remoteUser}">
                    <a class="nav-link" th:href="@{/cars/index}">Cars</a>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.remoteUser}">
                    <a class="nav-link" th:href="@{/calculator/calculateCarPrice}">Calculate Car Price</a>
                </li>
            </ul>
            <a th:if="${#httpServletRequest.remoteUser == null}" class="btn btn-light" th:href="@{/login}">Log in</a>
            <span th:if="${#httpServletRequest.remoteUser}">
                <span class="font-weight-bold text-light">Hello [[${#httpServletRequest.remoteUser}]]!</span>
                <a class="btn btn-light" th:href="@{/logout}">Log out</a>
            </span>
        </div>
    </div>
</nav>