<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car price calculator - Add car</title>
    <th:block th:include="fragments/head.html"></th:block>
</head>
<body>
<th:block th:include="fragments/menu.html"></th:block>

<main class="container-fluid">

    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <span class="card-title fs-3 fw-bold text-primary">Add new car</span>
                    <a class="btn btn-secondary float-end" th:href="@{/cars/index}">Back</a>
                </div>
            </div>
            <form method="post" th:action="@{/cars/addCar}" th:object="${addCarViewModel}">
                <div class="row mt-3">
                    <div class="col-md-4 offset-md-2">
                        <label class="form-label" for="inputYear">Year</label>
                        <input class="form-control" id="inputYear" name="year" min=0 placeholder="Year" required type="number">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="inputEngineCapacity">Engine Capacity</label>
                        <input class="form-control" id="inputEngineCapacity" min=0 name="engineCapacity"
                               placeholder="Engine Capacity"
                               required
                               step="0.1" type="number">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4 offset-md-2">
                        <label class="form-label" for="inputMileage">Mileage</label>
                        <input class="form-control" id="inputMileage" min=0 name="mileage" placeholder="Mileage" required
                               step="0.01" type="number">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="inputOwnersCount">Owners Count</label>
                        <input class="form-control" id="inputOwnersCount" step="1" min=0 name="ownersCount"
                               placeholder="Owners Count"
                               required
                               type="number">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4 offset-md-2">
                        <label class="form-label" for="inputPrice">Price</label>
                        <input class="form-control" id="inputPrice" step="0.01" min=0.01 name="price"
                               placeholder="Price"
                               required
                               type="number">
                    </div>
                    <div class="col-md-4 mt-4">
                        <div class="form-check mt-3">
                            <input class="form-check-input" id="inputNotCrashed" type="checkbox" value="" name="notCrashed"
                                   th:checked="${addCarViewModel.notCrashed}"
                                   th:value="${addCarViewModel.notCrashed}"
                                   onclick="this.value = this.checked">
                            <label class="form-check-label" for="inputNotCrashed">
                                Not Crashed
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <button class="btn btn-primary float-end" type="submit">Add car</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<th:block th:include="fragments/footer.html"></th:block>
<th:block th:include="fragments/bootstrap-bundle.html"></th:block>
</body>
</html>
