<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car price calculator - Register</title>
    <th:block th:include="fragments/head.html"></th:block>
    <link th:href="@{/css/register.css}" rel="stylesheet">
</head>
<body class="text-center">
<main class="form-register">
    <form th:action="@{/users/adduser}" th:object="${addUserViewModel}" method="post">
        <img class="mb-4" th:src="@{/images/logo.jpg}" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Register new account</h1>
        <label for="inputEmail" class="visually-hidden">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required
               autofocus>
        <label for="inputPassword" class="visually-hidden">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    </form>
</main>
</body>
</html>
