<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car price calculator - Cars</title>
    <th:block th:include="fragments/head.html"></th:block>
</head>
<body>
<th:block th:include="fragments/menu.html"></th:block>

<main class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-2 offset-md-10">
            <a class="btn btn-primary" th:href="@{/cars/addCar}">Add new</a>
            <a class="btn btn-primary" th:href="@{/cars/addRandomCars}">Add random cars</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Year</th>
                    <th scope="col">Not Crashed</th>
                    <th scope="col">Engine Capacity</th>
                    <th scope="col">Mileage</th>
                    <th scope="col">Owners Count</th>
                    <th scope="col">Price</th>
                    <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car, stat : ${cars}">
                    <th scope="row" th:text="${stat.index + 1}"></th>
                    <td th:text="${car.year}"></td>
                    <td th:text="${car.notCrashed}"></td>
                    <td th:text="${car.engineCapacity}"></td>
                    <td th:text="${car.mileage}"></td>
                    <td th:text="${car.ownersCount}"></td>
                    <td th:text="${car.price}"></td>
                    <td th:text="${car.username}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<th:block th:include="fragments/footer.html"></th:block>
<th:block th:include="fragments/bootstrap-bundle.html"></th:block>
</body>
</html>
