<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car price calculator - Log in</title>
    <th:block th:include="fragments/head.html"></th:block>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body class="text-center">
<main class="form-register">
    <form th:action="@{/login}" method="post">
        <img class="mb-4" th:src="@{/images/logo.jpg}" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please log in</h1>
        <label for="inputEmail" class="visually-hidden">Email address</label>
        <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required
               autofocus>
        <label for="inputPassword" class="visually-hidden">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="form-check mt-2 mb-2">
            <input class="form-check-input" id="inputRememberMe" type="checkbox" value="" name="rememberMe">
            <label class="form-check-label" for="inputRememberMe">
                Remember me?
            </label>
        </div>
        <div th:if="${param.error}" class="sign-in-error">
            Invalid username or password
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
        <a class="w-100 btn btn-lg btn-primary register-button" th:href="@{/users/signup}">Register</a>
    </form>
</main>
</body>
</html>